# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.jar

# Logs
logs/
*.log

# IntelliJ / Eclipse
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/

# OS files
.DS_Store
Thumbs.db

# Misc
*.swp
